body{
    background-image: linear-gradient(gray,#ffcc00,gray) ;
 }
 .main{
    height: 1024px;
 }
 .link{
     font-family: "MV Boli";
 }
 
 .link:not(.active){
     color: #ffcc00;
 }
 .link:not(.active):hover{
     color: black;
 }
 html{
     height: 100%;
 }
 .active{
     color: black;
 }
 
 .dropdown{
     display: none;
     background-color: #ffcc00;
     width: 80px;
     border-radius: 30px;
    
     
 }
 .dropdown-menu{
     background-color: gray;
     transition: 1s;
     
 }
 
 @media screen and (max-width:780px) {
     .navbar{
         display: none;
     }
     .dropdown{
         display:block;
     }
    img{
     width: 250px;
     height: 150px;
    }
    .myCard{
        width: 90%;

    }
    .main{
        height: auto;
    }
    
 }
 
 .info{
     font-family: MV Boli;
 
 }
 .myCard{
    width: auto;
    height: 400px;
    width: 300px;
    margin: 10px;
    background-color:gray ;
    border-radius: 10px;
    padding: 30px;
} 
.img{
    
    border-radius: 50%;
   
}

h4{
    margin-top: 5px;
    text-align: center;
    color:#ffcc00;
}
p{
    color: white;
}